bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Back/src/.idea/.idea.CnD.CommunalPayments3.Back/.idea/indexLayout.xml
Back/src/.idea/.idea.CnD.CommunalPayments3.Back/.idea/projectSettingsUpdater.xml
Back/src/.idea/.idea.CnD.CommunalPayments3.Back/.idea/workspace.xml
